<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:py="http://genshi.edgewall.org/">
<head>
 <meta http-equiv="Content-Type" conetnt="text/html; charset=utf-8" />
 <title>移動の軌跡</title>
</head>
<body>
${error_msg}
</body>
</html>

